In [4]:
import os
import polars as pl
import sqlite3

# --- Configuration ---
# IMPORTANT: Update this path to your actual folder containing Parquet files.
parquet_folder = "/Users/tusharjoshi/Desktop/ProjectWorkAll/Dissertation /processed_float" 

# This is where your new SQLite database file will be created.
output_sqlite_db = "/Users/tusharjoshi/Desktop/ProjectWorkAll/Dissertation /printer_data.sqlite" 
table_name_in_sqlite = "PrinterData" # Name of the table inside the SQLite database
batch_size = 100000 # Define a reasonable batch size for insertion (e.g., 100,000 rows)

# --- Define the Target Schema for Polars (to ensure consistency) ---
target_schema = {
    "check": pl.String,
    "date": pl.String, 
    "id": pl.String,    
    "state": pl.String, 
    "tempBed": pl.Float64,
    "targetBed": pl.Float64,
    "tempNozzle": pl.Float64,
    "targetNozzle": pl.Float64,
    "axisZ": pl.Float64,
    "axisX": pl.Float64,
    "axisY": pl.Float64,
    "flow": pl.Float64,
    "speed": pl.Float64,
    "fanHotend": pl.Float64,
    "fanPrint": pl.Float64,
}

# This defines the exact order of columns for the final DataFrame.
final_column_order = [
    "check", "date", "id", "state", "tempBed", "targetBed", "tempNozzle", 
    "targetNozzle", "axisZ", "axisX", "axisY", "flow", "speed", 
    "fanHotend", "fanPrint"
]

# --- Main Export Process to SQLite ---
try:
    # List all parquet files in the folder and sort them
    all_parquet_files = sorted([
        os.path.join(parquet_folder, f)
        for f in os.listdir(parquet_folder)
        if f.endswith(".parquet")
    ])
    print(f"Found {len(all_parquet_files)} parquet files to export to SQLite.")

    if not all_parquet_files:
        print("No parquet files found in the specified folder. Nothing to export.")
    else:
        processed_dfs = []
        print("Processing each parquet file individually, enforcing schema and order...")
        
        for i, parquet_file_name in enumerate(sorted(os.listdir(parquet_folder))):
            if not parquet_file_name.endswith(".parquet"):
                continue # Skip non-parquet files
            
            parquet_file_path = os.path.join(parquet_folder, parquet_file_name)
            print(f"  Reading and processing batch {i+1}/{len(os.listdir(parquet_folder))}: {parquet_file_name}")
            
            df_batch = pl.read_parquet(parquet_file_path)
            
            # Ensure all columns from final_column_order are present and in the correct type
            for col_name in final_column_order:
                if col_name not in df_batch.columns:
                    df_batch = df_batch.with_columns(pl.lit(None, dtype=target_schema[col_name]).alias(col_name))
                else:
                    df_batch = df_batch.with_columns(pl.col(col_name).cast(target_schema[col_name]))
            
            df_batch = df_batch.select(final_column_order)
            processed_dfs.append(df_batch)

        print("Concatenating all processed DataFrames...")
        df_combined = pl.concat(processed_dfs)
        print(f"Combined DataFrame loaded successfully with {df_combined.shape[0]} rows.")

        # Re-parse the 'date' column to actual datetime objects
        df_combined = df_combined.with_columns(
            pl.col("date").str.strptime(pl.Datetime, format="%Y-%m-%dT%H:%M:%S%.f%Z", strict=False).alias("date")
        )

        # Export the DataFrame to SQLite in batches
        print(f"Exporting data to SQLite database: {output_sqlite_db} in batches...")
        with sqlite3.connect(output_sqlite_db) as conn:
            cursor = conn.cursor()
            # Manually drop the table if it exists to simulate if_exists="replace"
            cursor.execute(f"DROP TABLE IF EXISTS {table_name_in_sqlite};")
            
            # Corrected line: Iterate over df_combined.schema.items() to get name and dtype
            type_mapping = {
                pl.String: "TEXT",
                pl.Float64: "REAL",
                pl.Datetime: "TEXT" # SQLite stores datetime as TEXT by default
            }
            columns_and_types = ", ".join([f'"{name}" {type_mapping.get(dtype, "TEXT")}' for name, dtype in df_combined.schema.items()])
            create_table_sql = f"CREATE TABLE {table_name_in_sqlite} ({columns_and_types});"
            cursor.execute(create_table_sql)
            print(f"Created table '{table_name_in_sqlite}' in SQLite.")

            # Prepare the INSERT statement
            placeholders = ", ".join(["?" for _ in final_column_order])
            insert_sql = f"INSERT INTO {table_name_in_sqlite} VALUES ({placeholders});"

            # Iterate over the Polars DataFrame in batches and insert
            total_inserted_rows = 0
            for batch_start in range(0, df_combined.shape[0], batch_size):
                batch_end = min(batch_start + batch_size, df_combined.shape[0])
                df_batch_to_insert = df_combined.slice(batch_start, batch_end - batch_start)
                
                # Convert Polars batch to a list of tuples for sqlite3.executemany
                rows_to_insert = []
                for row_data in df_batch_to_insert.iter_rows():
                    formatted_row = []
                    for col_val, col_name in zip(row_data, final_column_order):
                        if isinstance(col_val, pl.Datetime):
                            formatted_row.append(col_val.isoformat()) # Convert datetime to ISO string
                        else:
                            formatted_row.append(col_val)
                    rows_to_insert.append(tuple(formatted_row))

                cursor.executemany(insert_sql, rows_to_insert)
                conn.commit() # Commit after each batch
                total_inserted_rows += len(rows_to_insert)
                print(f"  Inserted {len(rows_to_insert)} rows. Total inserted: {total_inserted_rows}")

except Exception as e:
    print(f"\nAn error occurred during the SQLite export process: {e}")
    print("Please check:")
    print(f"- The 'parquet_folder' path: {parquet_folder}")
    print(f"- The 'output_sqlite_db' path: {output_sqlite_db}")
    print("- That you have enough disk space for the SQLite file.")
    print("- That the column names in your Parquet files match the 'target_schema' defined.")

Found 34 parquet files to export to SQLite.
Processing each parquet file individually, enforcing schema and order...
  Reading and processing batch 1/34: batch_001.parquet
  Reading and processing batch 2/34: batch_002.parquet
  Reading and processing batch 3/34: batch_003.parquet
  Reading and processing batch 4/34: batch_004.parquet
  Reading and processing batch 5/34: batch_005.parquet
  Reading and processing batch 6/34: batch_006.parquet
  Reading and processing batch 7/34: batch_007.parquet
  Reading and processing batch 8/34: batch_008.parquet
  Reading and processing batch 9/34: batch_009.parquet
  Reading and processing batch 10/34: batch_010.parquet
  Reading and processing batch 11/34: batch_011.parquet
  Reading and processing batch 12/34: batch_012.parquet
  Reading and processing batch 13/34: batch_013.parquet
  Reading and processing batch 14/34: batch_014.parquet
  Reading and processing batch 15/34: batch_015.parquet
  Reading and processing batch 16/34: batch_016.parquet
  Reading and processing batch 17/34: batch_017.parquet
  Reading and processing batch 18/34: batch_018.parquet
  Reading and processing batch 19/34: batch_019.parquet
  Reading and processing batch 20/34: batch_020.parquet
  Reading and processing batch 21/34: batch_021.parquet
  Reading and processing batch 22/34: batch_022.parquet
  Reading and processing batch 23/34: batch_023.parquet
  Reading and processing batch 24/34: batch_024.parquet
  Reading and processing batch 25/34: batch_025.parquet
  Reading and processing batch 26/34: batch_026.parquet
  Reading and processing batch 27/34: batch_027.parquet
  Reading and processing batch 28/34: batch_028.parquet
  Reading and processing batch 29/34: batch_029.parquet
  Reading and processing batch 30/34: batch_030.parquet
  Reading and processing batch 31/34: batch_031.parquet
  Reading and processing batch 32/34: batch_032.parquet
  Reading and processing batch 33/34: batch_033.parquet
  Reading and processing batch 34/34: batch_034.parquet
Concatenating all processed DataFrames...
Combined DataFrame loaded successfully with 94869699 rows.
Exporting data to SQLite database: /Users/tusharjoshi/Desktop/ProjectWorkAll/Dissertation /printer_data.sqlite in batches...
Created table 'PrinterData' in SQLite.
  Inserted 100000 rows. Total inserted: 100000
  Inserted 100000 rows. Total inserted: 200000
  Inserted 100000 rows. Total inserted: 300000
  Inserted 100000 rows. Total inserted: 400000
  Inserted 100000 rows. Total inserted: 500000
  Inserted 100000 rows. Total inserted: 600000
  Inserted 100000 rows. Total inserted: 700000
  Inserted 100000 rows. Total inserted: 800000
  Inserted 100000 rows. Total inserted: 900000
  Inserted 100000 rows. Total inserted: 1000000
  Inserted 100000 rows. Total inserted: 1100000
  Inserted 100000 rows. Total inserted: 1200000
  Inserted 100000 rows. Total inserted: 1300000
  Inserted 100000 rows. Total inserted: 1400000
  Inserted 100000 rows. Total inserted: 1500000
  Inserted 100000 rows. Total inserted: 1600000
  Inserted 100000 rows. Total inserted: 1700000
  Inserted 100000 rows. Total inserted: 1800000
  Inserted 100000 rows. Total inserted: 1900000
  Inserted 100000 rows. Total inserted: 2000000
  Inserted 100000 rows. Total inserted: 2100000
  Inserted 100000 rows. Total inserted: 2200000
  Inserted 100000 rows. Total inserted: 2300000
  Inserted 100000 rows. Total inserted: 2400000
  Inserted 100000 rows. Total inserted: 2500000
  Inserted 100000 rows. Total inserted: 2600000
  Inserted 100000 rows. Total inserted: 2700000
  Inserted 100000 rows. Total inserted: 2800000
  Inserted 100000 rows. Total inserted: 2900000
  Inserted 100000 rows. Total inserted: 3000000
  Inserted 100000 rows. Total inserted: 3100000
  Inserted 100000 rows. Total inserted: 3200000
  Inserted 100000 rows. Total inserted: 3300000
  Inserted 100000 rows. Total inserted: 3400000
  Inserted 100000 rows. Total inserted: 3500000
  Inserted 100000 rows. Total inserted: 3600000
  Inserted 100000 rows. Total inserted: 3700000
  Inserted 100000 rows. Total inserted: 3800000
  Inserted 100000 rows. Total inserted: 3900000
  Inserted 100000 rows. Total inserted: 4000000
  Inserted 100000 rows. Total inserted: 4100000
  Inserted 100000 rows. Total inserted: 4200000
  Inserted 100000 rows. Total inserted: 4300000
  Inserted 100000 rows. Total inserted: 4400000
  Inserted 100000 rows. Total inserted: 4500000
  Inserted 100000 rows. Total inserted: 4600000
  Inserted 100000 rows. Total inserted: 4700000
  Inserted 100000 rows. Total inserted: 4800000
  Inserted 100000 rows. Total inserted: 4900000
  Inserted 100000 rows. Total inserted: 5000000
  Inserted 100000 rows. Total inserted: 5100000
  Inserted 100000 rows. Total inserted: 5200000
  Inserted 100000 rows. Total inserted: 5300000
  Inserted 100000 rows. Total inserted: 5400000
  Inserted 100000 rows. Total inserted: 5500000
  Inserted 100000 rows. Total inserted: 5600000
  Inserted 100000 rows. Total inserted: 5700000
  Inserted 100000 rows. Total inserted: 5800000
  Inserted 100000 rows. Total inserted: 5900000
  Inserted 100000 rows. Total inserted: 6000000
  Inserted 100000 rows. Total inserted: 6100000
  Inserted 100000 rows. Total inserted: 6200000
  Inserted 100000 rows. Total inserted: 6300000
  Inserted 100000 rows. Total inserted: 6400000
  Inserted 100000 rows. Total inserted: 6500000
  Inserted 100000 rows. Total inserted: 6600000
  Inserted 100000 rows. Total inserted: 6700000
  Inserted 100000 rows. Total inserted: 6800000
  Inserted 100000 rows. Total inserted: 6900000
  Inserted 100000 rows. Total inserted: 7000000
  Inserted 100000 rows. Total inserted: 7100000
  Inserted 100000 rows. Total inserted: 7200000
  Inserted 100000 rows. Total inserted: 7300000
  Inserted 100000 rows. Total inserted: 7400000
  Inserted 100000 rows. Total inserted: 7500000
  Inserted 100000 rows. Total inserted: 7600000
  Inserted 100000 rows. Total inserted: 7700000
  Inserted 100000 rows. Total inserted: 7800000
  Inserted 100000 rows. Total inserted: 7900000
  Inserted 100000 rows. Total inserted: 8000000
  Inserted 100000 rows. Total inserted: 8100000
  Inserted 100000 rows. Total inserted: 8200000
  Inserted 100000 rows. Total inserted: 8300000
  Inserted 100000 rows. Total inserted: 8400000
  Inserted 100000 rows. Total inserted: 8500000
  Inserted 100000 rows. Total inserted: 8600000
  Inserted 100000 rows. Total inserted: 8700000
  Inserted 100000 rows. Total inserted: 8800000
  Inserted 100000 rows. Total inserted: 8900000
  Inserted 100000 rows. Total inserted: 9000000
  Inserted 100000 rows. Total inserted: 9100000
  Inserted 100000 rows. Total inserted: 9200000
  Inserted 100000 rows. Total inserted: 9300000
  Inserted 100000 rows. Total inserted: 9400000
  Inserted 100000 rows. Total inserted: 9500000
  Inserted 100000 rows. Total inserted: 9600000
  Inserted 100000 rows. Total inserted: 9700000
  Inserted 100000 rows. Total inserted: 9800000
  Inserted 100000 rows. Total inserted: 9900000
  Inserted 100000 rows. Total inserted: 10000000
  Inserted 100000 rows. Total inserted: 10100000
  Inserted 100000 rows. Total inserted: 10200000
  Inserted 100000 rows. Total inserted: 10300000
  Inserted 100000 rows. Total inserted: 10400000
  Inserted 100000 rows. Total inserted: 10500000
  Inserted 100000 rows. Total inserted: 10600000
  Inserted 100000 rows. Total inserted: 10700000
  Inserted 100000 rows. Total inserted: 10800000
  Inserted 100000 rows. Total inserted: 10900000
  Inserted 100000 rows. Total inserted: 11000000
  Inserted 100000 rows. Total inserted: 11100000
  Inserted 100000 rows. Total inserted: 11200000
  Inserted 100000 rows. Total inserted: 11300000
  Inserted 100000 rows. Total inserted: 11400000
  Inserted 100000 rows. Total inserted: 11500000
  Inserted 100000 rows. Total inserted: 11600000
  Inserted 100000 rows. Total inserted: 11700000
  Inserted 100000 rows. Total inserted: 11800000
  Inserted 100000 rows. Total inserted: 11900000
  Inserted 100000 rows. Total inserted: 12000000
  Inserted 100000 rows. Total inserted: 12100000
  Inserted 100000 rows. Total inserted: 12200000
  Inserted 100000 rows. Total inserted: 12300000
  Inserted 100000 rows. Total inserted: 12400000
  Inserted 100000 rows. Total inserted: 12500000
  Inserted 100000 rows. Total inserted: 12600000
  Inserted 100000 rows. Total inserted: 12700000
  Inserted 100000 rows. Total inserted: 12800000
  Inserted 100000 rows. Total inserted: 12900000
  Inserted 100000 rows. Total inserted: 13000000
  Inserted 100000 rows. Total inserted: 13100000
  Inserted 100000 rows. Total inserted: 13200000
  Inserted 100000 rows. Total inserted: 13300000
  Inserted 100000 rows. Total inserted: 13400000
  Inserted 100000 rows. Total inserted: 13500000
  Inserted 100000 rows. Total inserted: 13600000
  Inserted 100000 rows. Total inserted: 13700000
  Inserted 100000 rows. Total inserted: 13800000
  Inserted 100000 rows. Total inserted: 13900000
  Inserted 100000 rows. Total inserted: 14000000
  Inserted 100000 rows. Total inserted: 14100000
  Inserted 100000 rows. Total inserted: 14200000
  Inserted 100000 rows. Total inserted: 14300000
  Inserted 100000 rows. Total inserted: 14400000
  Inserted 100000 rows. Total inserted: 14500000
  Inserted 100000 rows. Total inserted: 14600000
  Inserted 100000 rows. Total inserted: 14700000
  Inserted 100000 rows. Total inserted: 14800000
  Inserted 100000 rows. Total inserted: 14900000
  Inserted 100000 rows. Total inserted: 15000000
  Inserted 100000 rows. Total inserted: 15100000
  Inserted 100000 rows. Total inserted: 15200000
  Inserted 100000 rows. Total inserted: 15300000
  Inserted 100000 rows. Total inserted: 15400000
  Inserted 100000 rows. Total inserted: 15500000
  Inserted 100000 rows. Total inserted: 15600000
  Inserted 100000 rows. Total inserted: 15700000
  Inserted 100000 rows. Total inserted: 15800000
  Inserted 100000 rows. Total inserted: 15900000
  Inserted 100000 rows. Total inserted: 16000000
  Inserted 100000 rows. Total inserted: 16100000
  Inserted 100000 rows. Total inserted: 16200000
  Inserted 100000 rows. Total inserted: 16300000
  Inserted 100000 rows. Total inserted: 16400000
  Inserted 100000 rows. Total inserted: 16500000
  Inserted 100000 rows. Total inserted: 16600000
  Inserted 100000 rows. Total inserted: 16700000
  Inserted 100000 rows. Total inserted: 16800000
  Inserted 100000 rows. Total inserted: 16900000
  Inserted 100000 rows. Total inserted: 17000000
  Inserted 100000 rows. Total inserted: 17100000
  Inserted 100000 rows. Total inserted: 17200000
  Inserted 100000 rows. Total inserted: 17300000
  Inserted 100000 rows. Total inserted: 17400000
  Inserted 100000 rows. Total inserted: 17500000
  Inserted 100000 rows. Total inserted: 17600000
  Inserted 100000 rows. Total inserted: 17700000
  Inserted 100000 rows. Total inserted: 17800000
  Inserted 100000 rows. Total inserted: 17900000
  Inserted 100000 rows. Total inserted: 18000000
  Inserted 100000 rows. Total inserted: 18100000
  Inserted 100000 rows. Total inserted: 18200000
  Inserted 100000 rows. Total inserted: 18300000
  Inserted 100000 rows. Total inserted: 18400000
  Inserted 100000 rows. Total inserted: 18500000
  Inserted 100000 rows. Total inserted: 18600000
  Inserted 100000 rows. Total inserted: 18700000
  Inserted 100000 rows. Total inserted: 18800000
  Inserted 100000 rows. Total inserted: 18900000
  Inserted 100000 rows. Total inserted: 19000000
  Inserted 100000 rows. Total inserted: 19100000
  Inserted 100000 rows. Total inserted: 19200000
  Inserted 100000 rows. Total inserted: 19300000
  Inserted 100000 rows. Total inserted: 19400000
  Inserted 100000 rows. Total inserted: 19500000
  Inserted 100000 rows. Total inserted: 19600000
  Inserted 100000 rows. Total inserted: 19700000
  Inserted 100000 rows. Total inserted: 19800000
  Inserted 100000 rows. Total inserted: 19900000
  Inserted 100000 rows. Total inserted: 20000000
  Inserted 100000 rows. Total inserted: 20100000
  Inserted 100000 rows. Total inserted: 20200000
  Inserted 100000 rows. Total inserted: 20300000
  Inserted 100000 rows. Total inserted: 20400000
  Inserted 100000 rows. Total inserted: 20500000
  Inserted 100000 rows. Total inserted: 20600000
  Inserted 100000 rows. Total inserted: 20700000
  Inserted 100000 rows. Total inserted: 20800000
  Inserted 100000 rows. Total inserted: 20900000
  Inserted 100000 rows. Total inserted: 21000000
  Inserted 100000 rows. Total inserted: 21100000
  Inserted 100000 rows. Total inserted: 21200000
  Inserted 100000 rows. Total inserted: 21300000
  Inserted 100000 rows. Total inserted: 21400000
  Inserted 100000 rows. Total inserted: 21500000
  Inserted 100000 rows. Total inserted: 21600000
  Inserted 100000 rows. Total inserted: 21700000
  Inserted 100000 rows. Total inserted: 21800000
  Inserted 100000 rows. Total inserted: 21900000
  Inserted 100000 rows. Total inserted: 22000000
  Inserted 100000 rows. Total inserted: 22100000
  Inserted 100000 rows. Total inserted: 22200000
  Inserted 100000 rows. Total inserted: 22300000
  Inserted 100000 rows. Total inserted: 22400000
  Inserted 100000 rows. Total inserted: 22500000
  Inserted 100000 rows. Total inserted: 22600000
  Inserted 100000 rows. Total inserted: 22700000
  Inserted 100000 rows. Total inserted: 22800000
  Inserted 100000 rows. Total inserted: 22900000
  Inserted 100000 rows. Total inserted: 23000000
  Inserted 100000 rows. Total inserted: 23100000
  Inserted 100000 rows. Total inserted: 23200000
  Inserted 100000 rows. Total inserted: 23300000
  Inserted 100000 rows. Total inserted: 23400000
  Inserted 100000 rows. Total inserted: 23500000
  Inserted 100000 rows. Total inserted: 23600000
  Inserted 100000 rows. Total inserted: 23700000
  Inserted 100000 rows. Total inserted: 23800000
  Inserted 100000 rows. Total inserted: 23900000
  Inserted 100000 rows. Total inserted: 24000000
  Inserted 100000 rows. Total inserted: 24100000
  Inserted 100000 rows. Total inserted: 24200000
  Inserted 100000 rows. Total inserted: 24300000
  Inserted 100000 rows. Total inserted: 24400000
  Inserted 100000 rows. Total inserted: 24500000
  Inserted 100000 rows. Total inserted: 24600000
  Inserted 100000 rows. Total inserted: 24700000
  Inserted 100000 rows. Total inserted: 24800000
  Inserted 100000 rows. Total inserted: 24900000
  Inserted 100000 rows. Total inserted: 25000000
  Inserted 100000 rows. Total inserted: 25100000
  Inserted 100000 rows. Total inserted: 25200000
  Inserted 100000 rows. Total inserted: 25300000
  Inserted 100000 rows. Total inserted: 25400000
  Inserted 100000 rows. Total inserted: 25500000
  Inserted 100000 rows. Total inserted: 25600000
  Inserted 100000 rows. Total inserted: 25700000
  Inserted 100000 rows. Total inserted: 25800000
  Inserted 100000 rows. Total inserted: 25900000
  Inserted 100000 rows. Total inserted: 26000000
  Inserted 100000 rows. Total inserted: 26100000
  Inserted 100000 rows. Total inserted: 26200000
  Inserted 100000 rows. Total inserted: 26300000
  Inserted 100000 rows. Total inserted: 26400000
  Inserted 100000 rows. Total inserted: 26500000
  Inserted 100000 rows. Total inserted: 26600000
  Inserted 100000 rows. Total inserted: 26700000
  Inserted 100000 rows. Total inserted: 26800000
  Inserted 100000 rows. Total inserted: 26900000
  Inserted 100000 rows. Total inserted: 27000000
  Inserted 100000 rows. Total inserted: 27100000
  Inserted 100000 rows. Total inserted: 27200000
  Inserted 100000 rows. Total inserted: 27300000
  Inserted 100000 rows. Total inserted: 27400000
  Inserted 100000 rows. Total inserted: 27500000
  Inserted 100000 rows. Total inserted: 27600000
  Inserted 100000 rows. Total inserted: 27700000
  Inserted 100000 rows. Total inserted: 27800000
  Inserted 100000 rows. Total inserted: 27900000
  Inserted 100000 rows. Total inserted: 28000000
  Inserted 100000 rows. Total inserted: 28100000
  Inserted 100000 rows. Total inserted: 28200000
  Inserted 100000 rows. Total inserted: 28300000
  Inserted 100000 rows. Total inserted: 28400000
  Inserted 100000 rows. Total inserted: 28500000
  Inserted 100000 rows. Total inserted: 28600000
  Inserted 100000 rows. Total inserted: 28700000
  Inserted 100000 rows. Total inserted: 28800000
  Inserted 100000 rows. Total inserted: 28900000
  Inserted 100000 rows. Total inserted: 29000000
  Inserted 100000 rows. Total inserted: 29100000
  Inserted 100000 rows. Total inserted: 29200000
  Inserted 100000 rows. Total inserted: 29300000
  Inserted 100000 rows. Total inserted: 29400000
  Inserted 100000 rows. Total inserted: 29500000
  Inserted 100000 rows. Total inserted: 29600000
  Inserted 100000 rows. Total inserted: 29700000
  Inserted 100000 rows. Total inserted: 29800000
  Inserted 100000 rows. Total inserted: 29900000
  Inserted 100000 rows. Total inserted: 30000000
  Inserted 100000 rows. Total inserted: 30100000
  Inserted 100000 rows. Total inserted: 30200000
  Inserted 100000 rows. Total inserted: 30300000
  Inserted 100000 rows. Total inserted: 30400000
  Inserted 100000 rows. Total inserted: 30500000
  Inserted 100000 rows. Total inserted: 30600000
  Inserted 100000 rows. Total inserted: 30700000
  Inserted 100000 rows. Total inserted: 30800000
  Inserted 100000 rows. Total inserted: 30900000
  Inserted 100000 rows. Total inserted: 31000000
  Inserted 100000 rows. Total inserted: 31100000
  Inserted 100000 rows. Total inserted: 31200000
  Inserted 100000 rows. Total inserted: 31300000
  Inserted 100000 rows. Total inserted: 31400000
  Inserted 100000 rows. Total inserted: 31500000
  Inserted 100000 rows. Total inserted: 31600000
  Inserted 100000 rows. Total inserted: 31700000
  Inserted 100000 rows. Total inserted: 31800000
  Inserted 100000 rows. Total inserted: 31900000
  Inserted 100000 rows. Total inserted: 32000000
  Inserted 100000 rows. Total inserted: 32100000
  Inserted 100000 rows. Total inserted: 32200000
  Inserted 100000 rows. Total inserted: 32300000
  Inserted 100000 rows. Total inserted: 32400000
  Inserted 100000 rows. Total inserted: 32500000
  Inserted 100000 rows. Total inserted: 32600000
  Inserted 100000 rows. Total inserted: 32700000
  Inserted 100000 rows. Total inserted: 32800000
  Inserted 100000 rows. Total inserted: 32900000
  Inserted 100000 rows. Total inserted: 33000000
  Inserted 100000 rows. Total inserted: 33100000
  Inserted 100000 rows. Total inserted: 33200000
  Inserted 100000 rows. Total inserted: 33300000
  Inserted 100000 rows. Total inserted: 33400000
  Inserted 100000 rows. Total inserted: 33500000
  Inserted 100000 rows. Total inserted: 33600000
  Inserted 100000 rows. Total inserted: 33700000
  Inserted 100000 rows. Total inserted: 33800000
  Inserted 100000 rows. Total inserted: 33900000
  Inserted 100000 rows. Total inserted: 34000000
  Inserted 100000 rows. Total inserted: 34100000
  Inserted 100000 rows. Total inserted: 34200000
  Inserted 100000 rows. Total inserted: 34300000
  Inserted 100000 rows. Total inserted: 34400000
  Inserted 100000 rows. Total inserted: 34500000
  Inserted 100000 rows. Total inserted: 34600000
  Inserted 100000 rows. Total inserted: 34700000
  Inserted 100000 rows. Total inserted: 34800000
  Inserted 100000 rows. Total inserted: 34900000
  Inserted 100000 rows. Total inserted: 35000000
  Inserted 100000 rows. Total inserted: 35100000
  Inserted 100000 rows. Total inserted: 35200000
  Inserted 100000 rows. Total inserted: 35300000
  Inserted 100000 rows. Total inserted: 35400000
  Inserted 100000 rows. Total inserted: 35500000
  Inserted 100000 rows. Total inserted: 35600000
  Inserted 100000 rows. Total inserted: 35700000
  Inserted 100000 rows. Total inserted: 35800000
  Inserted 100000 rows. Total inserted: 35900000
  Inserted 100000 rows. Total inserted: 36000000
  Inserted 100000 rows. Total inserted: 36100000
  Inserted 100000 rows. Total inserted: 36200000
  Inserted 100000 rows. Total inserted: 36300000